/* yleiset asetukset */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  background-image: url('tausta.jpg'); 
  background-size: cover; /* venyttää kuvan koko näkymän kokoiseksi */
  background-repeat: no-repeat; /* ei toista kuvaa */
  background-attachment: fixed; /* pitää kuvan paikallaan vieritettäessä */
  background-position: center; /* keskittää kuvan */
}

/* Lumisade */
#snow-canvas {
    position: fixed;
    inset: 0;          /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 100%;
    z-index: 0;        /* TAUSTA */
    pointer-events: none; /* ei estä klikkauksia */
}

/* Varmistetaan, että sisältö on lumisateen päällä */
header,
main {
    position: relative;
    z-index: 1;
}

/* h1 */
h1 {
    position: static;
    font-size: 50px;
    text-align: center;
    margin-top: 4px;
    padding-top: 10px;
    text-shadow: #5c4e38
}

/* kuusen kontti */
.kuusi-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

/* kuusi-kuva */
.kuusi {
    width: 60%; /* tästä voi säätää kokoa */
    max-width: 100%; /* maksimileveys */
    height: auto;
    display: block;
}

/* koristeet kuusen päällä */
.koriste {
    position: absolute;
    top: 20%; /* sijainti kuusen päällä sivun yläreunasta katsottuna */
    left: 50%; /* sijainti kuusen päällä sivun vasemmasta reunasta katsottuna */
    transform: translateX(-50%);
    z-index: 10; /* tämä varmistaa, että koriste näkyy kuusen päällä */
    text-align: center;
}

.tahti {
  position: absolute;
  top: 5%; /* säädä tarvittaessa */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 11;
  display: none; /* piilotetaan aluksi */
}